
.skills-section {
  padding: 2rem;
  background-color: var(--bg-color);
 
  padding-bottom: 148px; 
  .skills-section-title {
  font-size: 5rem; 
  font-weight: 500;
  text-align: center; 
  @media (max-width: 768px) {
    font-size: 3rem;
    text-align: left;  }
    
}
  .skills-title {
    text-align: center;
    margin-bottom: 5rem;
    @media (max-width: 768px) {
      font-size: 2rem;
    }

  }

  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills-category {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #dddddd00;
    border-radius: 8px;
    background-color: var(--bg-color);

    h3 {
      text-align: left;
      margin-bottom: 1rem;
      font-size: 3rem;
    }

    .skills-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @media (max-width: 768px) {
       justify-content: flex-start;
      }
    }
  }
}
