.about-me-section {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    // background-color: red;
  }
  
  .container-whoImI {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; // Hidden initially, will be controlled by GSAP
    flex-direction: column;
    position: relative; // Ensure content remains centered
   
  }
  
  .container-whoImI img {
    max-width: 200px;
    margin: 20px;
  }
  
  .container-whoImI .about-me-text {
    font-size: max(2rem,min(3.17152vw + 1.25667rem,5.0625rem));
    width: 70vw;
    text-align: left;
  }
  
  .spacer {
    height: 10vh;
    // background-color: blue;
  }