@import './../../assets/styles/global.scss';
@import './../../assets/styles/variables.scss';

.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  max-width: 80.6vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
  padding-bottom: 120px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    max-width: 100vw;
    padding: 1rem 0.5rem;
  }
  .about-image {
    img {
      object-fit: cover;
    
      max-width: 550px;
    }
  }
}

.about_section-wrapper {
  grid-area: 1 / 2 / 2 / 3;

  max-width: 633px;
  @media (max-width: 768px) {
    order: 1;
    min-width: 300px;
  }
}

.about-image {
  grid-area: 1 / 1 / 2 / 2;

  justify-self: left;
  img {
    min-height: 550px;
    max-height: 813px;
  }

  @media (max-width: 1000px) {
    order: revert;
    img {
      max-height: 273px;
      min-height: 240px;
      display: block;
      margin: 0 auto;
      height: auto;
      border-radius: 10px;
    }
  }
}

.content-about-wrapper {
  .about-title {
    font: $font-x-title-large-bold;
    margin-bottom: 1rem;
    margin-top: 0;

    @media (max-width: 768px) {
      font: 700 40px Poppins;
    }
  }

  .about-description {
    font: 400 17px poppins;
    margin-bottom: 2rem;
    line-height: 35px;
    overflow: scroll;
    max-height: 694px;

    @media (max-width: 768px) {
      font: 300 15px Poppins;
      max-height: 444px;
      margin: 5px;
    }
  }
}

