@import './../variables';

//navbar
$background-nav-color: $background-nav-color;
//navbar-icons
$stroke-nav-icon-color: $accent-color;

//navlink-color
$nav-links-text-color: $accent-color;
$nav-links-text-color-active: $accent-color;
$nav-links-decoration-stroke-color: $primary-color;
//navlink-text

$nav-links-text-style: $font-medium-normal;
$nav-links-text-active-style: $font-medium-bold;
