.footer {
  background-color: var(--bg-nav-color);
  color:  var(--navlinks-text-color);
  padding: 2rem 1rem;
  text-align: left;
  border-top: 2px rgba(143, 143, 143, 0.428) solid;
  .brand-footer {
    width: 180px; /* Adjust as needed */
  }
  .brand-bottom-footer {
    display: none;
    
}
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;

    .footer-section {
      margin: 1rem;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      li {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
      }
    }

    .social-media {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      li {
        margin: 0.5rem 0;
        font-size: 1.2rem;

        a {
          color: var(--navlinks-text-color);
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: #1a91da; /* LinkedIn and GitHub blue */
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 568px) {
   




    .brand-footer {
        display: none;
      }
      .footer-bottom{

        display: flex;
        align-items: center;
        justify-content: center;
        .brand-bottom-footer {
            display: block;
            
            width: 50px;
        }
    }


}