.container-switch {
//background-color: red;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.switchlabel {
    padding-right: 12px;
    text-transform: capitalize;

}
.switch {
  display: block;
  width: 60px;
  background-color: var(--text-color);
  border-radius: 14px;
  height: 30px;
}
.slider {
  position: relative;
  top: 2px;
  bottom: 0;
  left: 1px;
  right: 0;
}
.slider::before {
  display: inline-block;
  content: '';
  height: 1.6em;
  width: 1.6em;
  border-radius: 20px;

  background-color:  var(--bg-color);
  transition: 0.4s;
}
input:checked + .slider::before {
  transform: translateX(2em);
  
}

input {
  appearance: none;
}
@media (max-width: 768px) {
  input:checked + .slider::before {
    transform: translateX(1.5em);
    
  }
}