/* src/components/projects.scss */
@import "./../../assets/styles/global.scss";
@import "./../../assets/styles/variables.scss";

.projects-section {
    padding: 2em 0;
    background-color: var(--bg-color);
    padding-bottom: 120px;
    
  }
  
  .projects-title {
    font: bold 52px Poppins;
margin-bottom: 1rem;
margin-top: 0;
text-align: center;
    
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    max-width: 1200px;
  }
  

















  .projects-section {
    .filters-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  
    .filter-button {
      padding: 10px 20px;
      margin: 0 10px;
      border: none;
      background-color: #f0f0f0;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      transition: background-color 0.3s;
  
      &.active {
        background-color: #007BFF;
        color: white;
      }
  
      &:hover {
        background-color: #007BFF;
        color: white;
      }
    }
  
   
  }
  