@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Light mode variables (Grayscale)
$light-primary-color: #333333;
$light-accent-color: #4d4d4d;
$light-error-color: #b30000;
$light-bg-color: #f0f0f0;
$light-bg-nav-color: #e6e6e6;
$light-text-color: #1a1a1a;
$light-navlinks-text-color: #4d4d4d;
$light-navlinks-text-active-color: #666666;

$light-hero-button-bg-color: #3b3b3b;
$light-hero-button-bg-active-color: #9c9c9c;
$light-hero-button-bg-shadow-size-color: 3px 3px #626262;
$light-hero-button-text-color: #e6e6e6;

$light-hero-primary-button-bg-color: #66666600;
$light-hero-primary-button-bg-active-color: #4d4d4d;
$light-hero-primary-button-bg-shadow-size-color: 3px 3px #626262;
$light-hero-primary-button-text-color: #333333;

// Dark mode variables (Grayscale)
$dark-primary-color: #333333;
$dark-accent-color: #4d4d4d;
$dark-error-color: #b30000;
$dark-bg-color: #1a1a1a;
$dark-bg-nav-color: #262626;
$dark-text-color: #e0e0e0;
$dark-navlinks-text-color: #e0e0e0;
$dark-navlinks-text-active-color: #999999;

// Dark hero buttons variables 
$dark-hero-button-bg-color: #f0f0f0;
$dark-hero-button-bg-active-color: #666666;
$dark-hero-button-bg-shadow-size-color: 3px 3px #626262;
$dark-hero-button-text-color: #1a1a1a;
$dark-hero-primary-button-bg-color: #4d4d4d;
$dark-hero-primary-button-bg-active-color: #666666;
$dark-hero-primary-button-bg-shadow-size-color: 3px 3px #626262;
$dark-hero-primary-button-text-color: #e0e0e0;


// Font sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-x-size-large: 52px;

// Font weights
$font-weight-normal: 300;
$font-weight-bold: bold;


// Font families
$font-family-primary: 'Poppins';
$font-family-secondary: 'Poppins';

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;

$spacing-large: 32px;

// Font shorthand styles
$font-small-normal: #{$font-weight-normal} #{$font-size-small} #{$font-family-primary};
$font-small-bold: #{$font-weight-bold} #{$font-size-small} #{$font-family-primary};
$font-medium-normal: #{$font-weight-normal} #{$font-size-medium} #{$font-family-primary};
$font-medium-bold: #{$font-weight-bold} #{$font-size-medium} #{$font-family-primary};
$font-large-normal: #{$font-weight-normal} #{$font-size-large} #{$font-family-primary};
$font-large-bold: #{$font-weight-bold} #{$font-size-large} #{$font-family-primary};

$font-s-desc-large-bold: #{$font-weight-normal} #{$font-size-large} #{$font-family-primary};

$font-x-title-large-bold: #{$font-weight-bold} #{$font-x-size-large} #{$font-family-primary};

