@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300&display=swap');

// Light mode variables
$light-primary-color: hsl(239, 100%, 50%);
$light-accent-color: hwb(253 24% 0%);
$light-error-color: #ff0000;
$light-bg-color: hsl(0, 0%, 100%);
$light-bg-nav-color: hsl(0, 0%, 100%);
$light-text-color: #1e1e1e;
$light-navlinks-text-color: #414141;
$light-navlinks-text-active-color: #0004ff;

// Dark mode variables
$dark-primary-color: #0004ff;
$dark-accent-color: hwb(253 56% 0%);
$dark-error-color: #ff0000;
$dark-bg-color: #363636;
$dark-bg-nav-color: #363636;
$dark-text-color: #ebebeb;
$dark-navlinks-text-color: #ebebeb;
$dark-navlinks-text-active-color: hsl(243, 100%, 87%);

// Font sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;

// Font weights
$font-weight-normal: 300;
$font-weight-bold: 500;

// Font families
$font-family-primary: 'Ubuntu';
$font-family-secondary: 'Ubuntu';

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// Font shorthand styles
$font-small-normal: #{$font-weight-normal} #{$font-size-small} #{$font-family-primary};
$font-small-bold: #{$font-weight-bold} #{$font-size-small} #{$font-family-primary};
$font-medium-normal: #{$font-weight-normal} #{$font-size-medium} #{$font-family-primary};
$font-medium-bold: #{$font-weight-bold} #{$font-size-medium} #{$font-family-primary};
$font-large-normal: #{$font-weight-normal} #{$font-size-large} #{$font-family-primary};
$font-large-bold: #{$font-weight-bold} #{$font-size-large} #{$font-family-primary};
